<h1>Student Manager</h1>

<p>Choose an initial action to begin.</p>

<ul>
  <li><a href="/add_student">Add a student</a></li>
  <li><a href="/students">Change student's name</a></li>
  <li><a href="/ask_question">Ask a question</a></li>
</ul>