<h1>Ask a Question</h1>

<form action="/save_question">
  <select name="student_id">
    <% Student.all.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
    <% end %>
  </select>
  
  <input type="text" name="question_text" placeholder="Question Text!!!">
  
  <input type="submit">
</form>